// Font

$font-stack: "Rubik", sans-serif;

// Font weights

$font-light: 300;
$font-normal: 400;
$font-bold: 800;

// Font mixin

@mixin font($color, $weight, $size) {
  font-family: $font-stack;
  font-weight: #{$weight};
  font-size: #{$size};
  color: #{$color};
}
