// Utility classes

$media-min: 55rem;

.flex {
  display: flex;
  gap: var(--gap, 1.2rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.stop-transition {
  transition: none !important;
}

.main-container {
  flex-grow: 1;
  margin: 0;
  padding-inline: 1.5rem;
  height: auto;
  width: 100vw;
  margin-inline: 1.5rem;
  margin-block: 5rem;
  display: grid;
  gap: 1.5rem;
  @media (min-width: $media-min) {
    grid-template-areas: "a b c d" "a e f g";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-inline: 11.5vw;
    gap: 1.9rem;
    width: auto;
    padding: 0;
  }
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  border: none;
  @media (min-width: $media-min) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
